header {
    background-color: red;
    color:white;
    padding-top: 20px;
    padding-bottom: 20px;
}

header a:link { text-decoration: none; }


header a:visited { text-decoration: none; }


header a:hover { text-decoration: none; }


header a:active { text-decoration: none; }


footer {
    background-color: green;
    color:black;
    padding-top: 20px;
    padding-bottom: 20px;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

  }

  div {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-gap: 10px;
  }

  img {
    width: 200px;
    height: auto;
  }
